/* Variables */
:root {
  --primary-color: #333;
  --secondary-color: #555;
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --background-color: #e1e1e1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--primary-color);
  line-height: 1.6;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.headerImg {
  width: 50px;
}

#header {
  user-select: none;
  display: flex;
  background-color: var(--primary-color);
  padding: 20px;
  text-align: center;
}

#header #headerText {
  font-weight: bold;
  color: #fff;
  font-size: 2rem;
}

#main {
  overflow: scroll;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

#searchBarContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  z-index: 2;
  padding: 10px 0;
}


#searchForm {
  display: flex;
  justify-content: center;
  width: 50%;
}


#searchBarContainer input#searchBar {
  width: 50%;
  height: ;
  padding: 10px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  border-top-right-radius: 0% !important;
  border-bottom-right-radius: 0% !important;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

#searchBarContainer input#searchBar:focus {
  border-color: var(--primary-color);
  outline: none;
}

#resultContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

#resultContainer .image {
  max-width: 100%;
  height: auto;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttonContainer button.searchBtn {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;

  cursor: pointer;
  transition: background-color 0.3s ease;
}

#buttonContainer button.searchBtn:hover {
  background-color: var(--secondary-color);
}

#footer {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  padding: 10px;
}

#footer .footerText {
  font-size: 1rem;
}

#footer .footerText a {
  color: #fff;
  text-decoration: underline;
}

#footer .footerText a:hover {
  color: var(--secondary-color);
}




.imageCardContainer {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;

}

.imageCardMain {

  position: relative;
  text-align: center;
}

.imageCardImg {

  width: 100%;
  height: auto;
  display: block;
}

.imageCardMain p,
.imageCardMain button {

  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.imageCardMain:hover p,
.imageCardMain:hover button {
  opacity: 1;
}

.imageCardMain p {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #ddd;
  font-weight: bold;
}




.hoverEffectContainer {
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.imageCardMain:hover .hoverEffectContainer {
  opacity: 1;
}

.hoverItems {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}

#modalContainer {
  width: 80vw;
  height: 50vh;
  background-color: #dcdcdc;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* update this and insert data in container in JS */


#modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

#modalCloseBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgb(114, 38, 38);
  padding: 4px;
  width: 3.5rem;
  height: auto;
  border-radius: 50%;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  cursor: pointer;
  transition: 0.3s background-color;
}


#modalCloseBtn:hover {
  background-color: rgb(85, 16, 16);
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.modalContent img {
  max-width: 100%;
  border-radius: 8px;
}

.modalContent p {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

.modalContent button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.modalContent button:hover {
  background-color: #0056b3;
}


#loadBtn {
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 1rem;
  color: #fff;
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

#loadBtn:hover {
  background-color: var(--secondary-color);

}


#tagsContainer {
  display: flex;
  width: 100vw;
  justify-content: center;
  gap: 1rem;
  background-color: var(--background-color);
  z-index: 99;
  position: -webkit-sticky;
  position: sticky;
  padding: 10px 0;
}


#tagsContainer button {
  border: none;
  padding: 2px;
  background: none;
  padding: 8px;
}


#tagsContainer button:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: #fff;
}


@media screen and (max-width: 482px) {
  #tagsContainer {
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: space-between;
  }

  #tagsContainer button {
    flex: 1 1 16%;
    box-sizing: border-box;
    padding: 4px;
  }

  #header #headerText {
    font-size: 20px;
    display: flex;
    align-items: center;
  }

  #header {
    padding: 0.5rem;

    ;
  }

  .headerImg {
    width: 25px;
  }


}